

.playbutton{


    width: 17%;
    padding: 1pt;
    margin: 4px 2px;
    cursor: pointer;
    color: rgb(13, 137, 168);
    font-size: 30pt;
    

}

h4{
    color: rgb(247, 233, 233);
    

}
.playbutton:hover{
    background-color:rgba(64, 224, 64, 0.212);
    border-color: rgb(255, 255, 255);
}
h4:hover{
    color: white;
}
.videotransparentext{
    position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
  color: #feffff; /* Grey text */
  width: 100%; /* Full width */
  padding: 30px; /* Some padding */
  
  text-align: center;
  margin-bottom: 300px;


}
.navbrandname{
    color: crimson;
    font-family: sans-serif;
    margin-right: 20pt;
    font-size: 30px;
}
.carousel-inner{
    height: 500px;
}


/*Movie Cards*/
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 40px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

/*Movie Cards End here*/