@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
body{
  background-color: rgba(3, 3, 49, 0.514);
}
.playbutton{


    width: 17%;
    padding: 1pt;
    margin: 4px 2px;
    cursor: pointer;
    color: rgb(13, 137, 168);
    font-size: 30pt;
    

}
.navbar{
  background-color: rgba(17, 11, 22, 0.808);
}
h4{
    color: rgb(247, 233, 233);
    

}
.playbutton:hover{
    background-color:rgba(64, 224, 64, 0.212);
    border-color: rgb(255, 255, 255);
}
h4:hover{
    color: white;
}
.videotransparentext{
    position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
  color: #feffff; /* Grey text */
  width: 100%; /* Full width */
  padding: 30px; /* Some padding */
  
  text-align: center;
  margin-bottom: 300px;


}


.navbrandname{
    color: crimson;
    font-family: sans-serif;
    margin-right: 20pt;
    font-size: 30px;
}
.carousel-inner{
  height: 400;
}


/*Movie Cards*/
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  .moviecard{
    color: rgb(184, 12, 12);
    background-color: white;
    padding: 1rem;
    height:fit-content;
    margin-bottom: 20pt;
  
  }
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

/*Movie Cards End here*/


.moviecard {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: .3s ease;
  background-color: rgba(2, 111, 201, 0.527);
  
}

.moviecard:hover .overlay {
  transform:scale(1)
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

.image{
  max-height: 400px;
}

/*footer*/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
  .footer {
    height: 700px;
  }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #e9eef3;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

/*footer end here*/